<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://nc-speech.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3ae9274d-2199-45b5-9e52-21c25a39a8ce/resourcegroups/nc-speech/providers/Microsoft.Web/sites/nc-speech</ResourceId>
    <UserName>$nc-speech</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://nc-speech.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>